header {
  display: flex;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  max-width: 300px;
  margin-right: auto;
}

li {
  margin: 10px;
  &:hover {
   opacity: 0.5;
   cursor: pointer;
  }
}