<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <li *ngFor="let category of categories" class="nav-item">
            <a class=" nav-link" href="#navbarSupportedContent" data-toggle="collapse"
              (click)="changeCategory(category)">{{ category }}</a>
          </li>
        </ul>

        <form (ngSubmit)="onSubmit()" class="form-inline my-1 my-lg-0">
          <input [(ngModel)]="searchKeyword" name="searchKeyword" class="form-control mr-sm-2" placeholder="Search"
            type="text" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="collapse"
            data-target="#navbarSupportedContent">Search</button>
        </form>

      </div>

    </div>
  </nav>
</header>